@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

.container {
  @apply mx-auto px-gutter !max-w-none 4xl:px-contained;
}

body {
  font-family: "OpenRunde", sans-serif !important;
}
@layer base {
  body {
    @apply text-black font-openrunde;
  }
}
@layer utilities {
  .h1 {
    @apply text-3xl font-bold sm:text-5xl;
  }

  .h2 {
    @apply text-2xl font-black sm:text-3xl md:text-5xl;
  }
  .h3 {
    @apply text-xl sm:text-3xl font-semibold tracking-[-2%];
  }
  .h4 {
    @apply text-xl sm:text-xl font-semibold tracking-[-2%];
  }

  .hero {
    @apply text-3xl font-bold sm:text-5xl;
  }
  .button {
    @apply inline-flex w-full sm:w-fit rounded-full gap-2 font-medium items-center whitespace-nowrap justify-center px-3.5 py-2 sm:px-6 text-sm tracking-[-2%] xs:text-sm text-center transition cursor-pointer;
  }

  .button--primary {
    @apply w-full text-white bg-primary-500 border-primary-500 sm:w-fit hover:bg-primary-600 hover:border-primary-600 focus:bg-primary-500 focus:border-primary-500;
  }

  .button--secondary {
    @apply text-white bg-[#181D36] w-full sm:w-fit min-h-9 hover:bg-[hsl(230,38%,20%)] focus:bg-[#181D36];
  }

  .button--tertiary {
    @apply bg-white border border-gray-300 hover:bg-gray-50 focus:bg-white disabled:bg-white py-[0.6875rem] min-w-[12.5rem] px-4.5 disabled:border-gray-200;
  }

  .button--tertiary-gray {
    @apply text-gray-600 bg-gray-100 hover:border-gray-200 focus:bg-gray-100;
  }

  .button--tertiary-white {
    @apply text-sm text-primary-600 !tracking-[-2%] hover:text-primary-700 hover:bg-primary-50 rounded-full focus:text-primary-600 disabled:text-gray-300;
  }

  .input {
    @apply px-3.5 py-2.5 rounded-lg bg-white  focus:border outline-none focus:border-primary-200;
  }
  .tag {
    @apply flex w-fit rounded-full  py-2 px-3.5  gap-2 border font-medium text-sm;
  }
  .tag-primary {
    @apply border-purple-100 bg-primary-100 text-primary-600;
  }
  .tag-secondary {
    @apply text-purple-600 bg-purple-100 border-purple-300;
  }
  .tag-tertiary {
    @apply text-purple-500 bg-purple-50 border-purple-50;
  }
  .tag-tertiary-white {
    @apply text-purple-500 bg-white border-white;
  }
}
